.navbar-bartitle {
  direction: ltr !important;
  text-align: left;
}

.navbar-details-row {
  padding: 10px;
  direction: rtl !important;
}

.navbar-button {
  margin: 5px !important;
}
.navbar-button-exit {
  margin: 5px !important;
  position: absolute !important;
  right: 0;

}

.navbar-button-icon {
  margin: 3px !important;
  margin-left: 5px !important;
}