.add-poll-container {
  border-style: solid;
  border-width: 1.2px;
  margin: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.55);
  transition-duration: 1s;
}

.poll-time-container {
  border-style: solid;
  border-width: 1.2px;
  margin: 10px 30px !important;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.55);
}