.vote_container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.comment-button {
  position: absolute !important;
  left: 0;
  top: 0;
}

.poll-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
