.poll-item-container {
    min-height: 75px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid;
    border-color: black;
}

.poll-item-area {

}

.poll-item-votes {
    direction: ltr !important;
    display: flex   ;
}