/* No CSS */
@import url("./iransans-fonts/fonts.css");
* {
  font-family: IRANSans !important;
  direction: rtl;
  text-align: right;
}

.main-page {
    min-height: 100vh;
    padding-top: 100px;
    background-color: rgb(33, 33, 39);
}