.create_poll_title_name {
  width: 100%;
  direction: rtl !important;
  text-align: right;
  margin: 40px;
}
.create_poll_form_container {
  display: flex;
  justify-content: center;
  align-content: center;
}

